*.pyc
*~
*.json
**/.cache/*
*.orig
*.db
*.sqlite
*.graph
*.vars
*.txt
!requirements-*.txt
venv*/*
*.ast
codetree/test/store/data/**/*.sqlite
*.remote
titan*/
*.local
foo.py
codetree/data/*
.zedstate
.checkmate/*
build/*
docs/build/*
dist/*
*egg-info
settings/github.py
*#
tmp/*
*.ipynb
*ipynb*